<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: transparent;">

  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="img-fluid" src="assets/image/logo.png" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-md-auto">
        <li class="nav-item active">
          <a class="nav-link text-uppercase" href="#" txt-uppercase>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Shop
          </a>
          <div class="dropdown-menu text-uppercase" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" routerLink="/about-us">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 nav-account">
        <span><a href="#"><i class="fa fa-2x fa-user"></i></a></span>&nbsp;&nbsp;
        <span><a href="#"><i class="fa fa-2x fa-shopping-cart"></i></a></span>&nbsp;&nbsp;
        <span><a href="#"><i class="fa fa-2x fa-search"></i></a></span>&nbsp;&nbsp;
      </form>
    </div>
  </div>
</nav>


<!-- <img class="img-fluid" src="assets/image/backgrounds/banner.png">

<section class="social-icons">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-4">
      <div class="detail">
        <h1 class="title">A variety of goods</h1>
        <h1 class="title">&nbsp;for you to choose</h1>
        <p class="title-p">--------- Premium Cooked Bird's Nest</p>
      </div>
    </div>
    <div class="col-md-2" id="socials">
      <div class="row social-row"><i class="fa fa-facebook-f"></i></div>
      <div class="row social-row"><i class="fa fa-instagram"></i></div>
      <div class="row social-row"><i class="	fa fa-twitter"></i></div>
    </div>
  </div>
</section> -->