<!-- Removed from header component -->
<img class="img-fluid" id="home-banner" src="assets/image/backgrounds/banner.png">

<section class="social-icons">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-4">
      <div class="detail">
        <h1 class="title">A variety of goods</h1>
        <h1 class="title">&nbsp;for you to choose</h1>
        <p class="title-p">--------- Premium Cooked Bird's Nest</p>
      </div>
    </div>
    <div class="col-md-2" id="socials">
      <div class="row social-row"><i class="fa fa-facebook-f"></i></div>
      <div class="row social-row"><i class="fa fa-instagram"></i></div>
      <div class="row social-row"><i class="	fa fa-twitter"></i></div>
    </div>
  </div>
</section>

<!-- Removed from header component -->

<div class="product-detail" id="div-yellow">
  <div class="row">
    <div class="col-md-8" id="col-img">
      <img class="img-fluid" id="img-yellow" src="assets/image/backgrounds/nest.png">
    </div>
    <div class="col-md-4" id="col-txt">
      <div class="detail">
        <h2 class="title" id="stewed-bird">Stewed bird's nest (10 in)</h2>
        <a href="#" class="btn btn-danger btn-lg" id="shop-now">SHOP NOW</a>
      </div>
    </div>

  </div>
</div>

<div class="brand-story">
  <div class="container" id="story-container">
    <div class="row" id="story-row">
      <div class="col-md-6" id="brand-story-txt">
        <h3 class="title">BRAND STORY</h3>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
          it to
          make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
          Lorem
          Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
          versions
          of Lorem Ipsum.</p>

        <a href="#" class="btn btn-dark">know more</a>
      </div>
      <div class="col-md-6" id="brand-story-img">
        <img class="img-fluid" id="story-img" src="assets/image/backgrounds/bird-nest.png">
      </div>
    </div>
  </div>
</div>