<footer>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3 class="title">Customer Service</h3>

          <ul class="list-group">
            <li class="list-group-item"><a routerLink="/contact-us">Contact</a></li>
            <li class="list-group-item"><a routerLink="/faqs">FAQ</a></li>
            <li class="list-group-item"><a routerLink="/terms-of-payment">Terms of payment</a></li>
            <li class="list-group-item"><a routerLink="/terms-of-sale">Terms of sale</a></li>
            <li class="list-group-item"><a routerLink="/delivery-terms-n-conditions">Delivery terms and conditions</a></li>
            <li class="list-group-item"><a href="#">Return and refunds</a></li>
          </ul>

        </div>
        <div class="col-md-3">
          <h3 class="title">Information</h3>

          <ul class="list-group">
            <li class="list-group-item"><a href="#">Affiliates</a></li>
            <li class="list-group-item"><a href="#">Cookies</a></li>
            <li class="list-group-item"><a routerLink="/how-to-shop">How to shop</a></li>
            <li class="list-group-item"><a routerLink="/about-bird-nest">About bird nest</a></li>
            <li class="list-group-item"><a href="#">Investor relations</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Company</h3>
          <ul class="list-group">
            <li class="list-group-item"><a routerLink="/about-us">About us</a></li>
            <li class="list-group-item"><a href="#">Sitemap</a></li>
            <li class="list-group-item"><a href="#">Get email updates</a></li>
            <li class="list-group-item"><a routerLink="/blogs">Blogs + more</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">We proudly accept:</h3>

          <div class="text-center">
            <img id="cards" src="assets/image/backgrounds/cards.png">
          </div>
          <br>
          <div class="text-center">
            <img src="assets/image/backgrounds/secure-tag.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="nav">
            <a routerLink="/privacy-policy">Privacy & Cookies</a>&nbsp;|&nbsp;
            <a routerLink="/terms-n-condision">Terms & Conditions</a>&nbsp; |&nbsp;
            <a href="#">Accessibility</a>&nbsp; |&nbsp;
            <a href="#">Store Directory</a>&nbsp; |&nbsp;
            <a routerLink="/about-us">About Us</a>
          </div>
        </div>
        <div class="col-md-6" id="copy">
          <div class="pull-right">
            <a routerLink="/about-bird-nest">&copy; Bird Nest</a>&nbsp; |&nbsp; <a routerLink="/about-bird-nest">All Rights Reserved</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>