<footer>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3 class="title">Customer Service</h3>

          <ul class="list-group">
            <li class="list-group-item"><a href="#">Contact</a></li>
            <li class="list-group-item"><a href="#">FAQ</a></li>
            <li class="list-group-item"><a href="#">Terms of payment</a></li>
            <li class="list-group-item"><a href="#">Terms of sale</a></li>
            <li class="list-group-item"><a href="#">Delivery terms and conditions</a></li>
            <li class="list-group-item"><a href="#">Return and refunds</a></li>
          </ul>

        </div>
        <div class="col-md-3">
          <h3 class="title">Information</h3>

          <ul class="list-group">
            <li class="list-group-item"><a href="#">Affiliates</a></li>
            <li class="list-group-item"><a href="#">Cookies</a></li>
            <li class="list-group-item"><a href="#">How to shop</a></li>
            <li class="list-group-item"><a href="#">About bird nest</a></li>
            <li class="list-group-item"><a href="#">Investor relations</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Company</h3>
          <ul class="list-group">
            <li class="list-group-item"><a href="#">About us</a></li>
            <li class="list-group-item"><a href="#">Sitemap</a></li>
            <li class="list-group-item"><a href="#">Get email updates</a></li>
            <li class="list-group-item"><a href="#">Blogs + more</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">We proudly accept:</h3>

          <div class="text-center">
            <img src="assets/image/backgrounds/cards.png">
          </div>
          <br>
          <div class="text-center">
            <img src="assets/image/backgrounds/secure-tag.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="nav">
            <a href="#">Privacy & Cookies</a>&nbsp;|&nbsp;
            <a href="#">Terms & Conditions</a>&nbsp; |&nbsp;
            <a href="#">Accessibility</a>&nbsp; |&nbsp;
            <a href="#">Store Directory</a>&nbsp; |&nbsp;
            <a href="#">About Us</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pull-right">
            <a href="#">&copy; Bird Nest</a>&nbsp; |&nbsp; <a href="#">All Rights Reserved</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>