<nav class="navbar navbar-light bg-light fixed-bottom">
    <div class="navbar-expand row" >
        <div class="col navbar-text footer-text">
          <a href="#">Privacy & Cookies</a> |
          <a href="#">Terms & Conditions</a> |
          <a href="#">Accessibility</a> |
          <a href="#">Store Directory</a> |
          <a href="#">About Us</a>
        </div>
        <div class="col col-md-5 text-right navbar-text footer-text">
          <a href="#">&copy; Bird Nest</a> |
          <a href="#">All Rights Reserved</a>
        </div>
    </div>
  <!-- <div class="navbar-expand m-auto navbar-text">
    <div col-6 float-left>
    
    </div>
    <div col-6 float-right text-right>
    
    </div>
  </div> -->
</nav>
