<div class="delivery-terms">
  <div class="container" style="max-width: 100%;padding: 60px 30px 60px 30px;">
    <div class="row">
      <div class="col-md-6">
        <h3 class="title">DELIVERY TERMS AND CONDITIONS</h3>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            it to
            make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem
            Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions
            of Lorem Ipsum.</p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="assets/image/backgrounds/slider1.png">
      </div>
    </div>
  </div>
</div>